.App{
  font-family: Roboto-Regular;
  color: #131336;
  
}
a{
  text-decoration: none;
}
button{
  outline: none;
}
.main-body{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 256px;
  padding-bottom: 90px;
}
.body-header{
  font-size: 36px;
  font-family: Roboto-Medium;
  line-height: 3;
}

.primary-btn-1 {
  background: #4b49ae;
  border-radius: 16px;
  width: 82px;
  padding: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}